name: Release to NuGet

on:
  release:
    types: [ published ]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore
      working-directory: src

    - name: Build
      run: dotnet build --no-restore --configuration Release
      working-directory: src

    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal
      working-directory: src

    - name: Pack
      run: dotnet pack --no-build --configuration Release --output ./nupkgs
      working-directory: src

    - name: Push to NuGet
      run: dotnet nuget push ./nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
      working-directory: src
